In [1]:
import numpy as np
import scipy as sp
import pandas as pd

In [2]:
GENE_EXP_DATA = "./data/raw_data/3_summary_rpkm.xls"

In [6]:
## Create a pandas dataframe to hold the gene expression data
meta4_exp = pd.read_csv(GENE_EXP_DATA, sep='\t')

In [8]:
meta4_exp.head(5)

,genome,locus_tag,product,LakWasMeta1_LOW4_2_rpkm,LakWasMeta2_LOW4_2_rpkm,LakWasMeta3_LOW4_2_rpkm,LakWasMeta4_LOW4_2_rpkm,LakWasMet10_HOW4_2_rpkm,LakWasMeta7_HOW4_2_rpkm,LakWasMeta8_HOW4_2_rpkm,...,LakWasM117_HOW13_2_rpkm,LakWasM118_HOW13_2_rpkm,LakWasM121_LOW14_2_rpkm,LakWasM122_LOW14_2_rpkm,LakWasM123_LOW14_2_rpkm,LakWasM124_LOW14_2_rpkm,LakWasM127_HOW14_2_rpkm,LakWasM128_HOW14_2_rpkm,LakWasM129_HOW14_2_rpkm,LakWasM130_HOW14_2_rpkm
0,Methylotenera mobilis JLW8,Mmol_0001,chromosomal replication initiator protein DnaA,1,1,4,2,1,2,1,...,0,1,3,0,0,22,0,3,0,0
1,Methylotenera mobilis JLW8,Mmol_0002,"DNA polymerase III, beta subunit (EC 2.7.7.7)",5,4,2,4,3,6,0,...,0,0,6,0,0,26,0,1,0,0
2,Methylotenera mobilis JLW8,Mmol_0003,DNA gyrase subunit B (EC 5.99.1.3),5,7,5,3,5,3,0,...,0,1,10,0,0,28,0,1,0,0
3,Methylotenera mobilis JLW8,Mmol_0004,"transcriptional regulator, TetR family",0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Methylotenera mobilis JLW8,Mmol_0005,"efflux transporter, RND family, MFP subunit",1,1,1,0,0,0,0,...,0,2,0,0,0,0,19,0,0,31

In [9]:
meta4_exp.shape

(212710, 86)

In [50]:
meta4_exp_grouped = meta4_exp.ix[:,'product':]
meta4_exp_grouped = meta4_exp_grouped.groupby(['product'], axis=0).sum()

In [57]:
meta4_exp_grouped.shape

(13891, 84)

In [51]:
meta4_exp_grouped.shape
meta4_exp_grouped.head(5)

,LakWasMeta1_LOW4_2_rpkm,LakWasMeta2_LOW4_2_rpkm,LakWasMeta3_LOW4_2_rpkm,LakWasMeta4_LOW4_2_rpkm,LakWasMet10_HOW4_2_rpkm,LakWasMeta7_HOW4_2_rpkm,LakWasMeta8_HOW4_2_rpkm,LakWasMeta9_HOW4_2_rpkm,LakWasMet13_LOW5_2_rpkm,LakWasMet14_LOW5_2_rpkm,...,LakWasM117_HOW13_2_rpkm,LakWasM118_HOW13_2_rpkm,LakWasM121_LOW14_2_rpkm,LakWasM122_LOW14_2_rpkm,LakWasM123_LOW14_2_rpkm,LakWasM124_LOW14_2_rpkm,LakWasM127_HOW14_2_rpkm,LakWasM128_HOW14_2_rpkm,LakWasM129_HOW14_2_rpkm,LakWasM130_HOW14_2_rpkm
product,,,,,,,,,,,,,,,,,,,,,
(+)-trans-carveol dehydrogenase,0,7,2,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
(1->4)-alpha-D-glucan 1-alpha-D-glucosylmutase,14,16,16,8,26,24,62,13,5,6,...,8,6,0,0,0,0,6,6,16,5
(1->4)-alpha-D-glucan branching enzyme,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
(1->4)-alpha-D-glucan synthase (UDP-glucose),0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"(2-(2,4-dihydroxy-6-methylphenyl)-2- oxoethyl)-4-hydroxy-2-pyrone synthase",0,0,0,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
cols = meta4_exp_grouped.columns.str.extract('([0-9]*_[A-z]*[0-9]*)_', expand=False)

In [53]:
meta4_exp_grouped.columns = cols
meta4_exp_grouped.head(5)

,1_LOW4,2_LOW4,3_LOW4,4_LOW4,10_HOW4,7_HOW4,8_HOW4,9_HOW4,13_LOW5,14_LOW5,...,117_HOW13,118_HOW13,121_LOW14,122_LOW14,123_LOW14,124_LOW14,127_HOW14,128_HOW14,129_HOW14,130_HOW14
product,,,,,,,,,,,,,,,,,,,,,
(+)-trans-carveol dehydrogenase,0,7,2,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
(1->4)-alpha-D-glucan 1-alpha-D-glucosylmutase,14,16,16,8,26,24,62,13,5,6,...,8,6,0,0,0,0,6,6,16,5
(1->4)-alpha-D-glucan branching enzyme,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
(1->4)-alpha-D-glucan synthase (UDP-glucose),0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"(2-(2,4-dihydroxy-6-methylphenyl)-2- oxoethyl)-4-hydroxy-2-pyrone synthase",0,0,0,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
meta4_exp_grouped['total_exp'] = meta4_exp_grouped.sum(axis=1)
meta4_exp_grouped.sort_values('total_exp', ascending=False, inplace=True)
meta4_exp_grouped.head(5)

,1_LOW4,2_LOW4,3_LOW4,4_LOW4,10_HOW4,7_HOW4,8_HOW4,9_HOW4,13_LOW5,14_LOW5,...,118_HOW13,121_LOW14,122_LOW14,123_LOW14,124_LOW14,127_HOW14,128_HOW14,129_HOW14,130_HOW14,total_exp
product,,,,,,,,,,,,,,,,,,,,,
methane/ammonia monooxygenase subunit C,354033,235805,354945,226251,166528,170345,215993,92617,230044,196336,...,244577,225369,244171,421624,253215,172145,139830,85559,274075,17548421
hypothetical protein,114331,156292,106832,161303,210150,159545,280128,183995,166600,185073,...,133374,116598,156828,117131,166325,201734,188633,166096,179071,15309772
methane/ammonia monooxygenase subunit B,150781,122485,165987,95802,98993,98728,150128,42449,158618,160145,...,215047,184743,198473,225077,153097,116727,91129,59570,245124,12448511
methane/ammonia monooxygenase subunit A,148758,100699,152442,89220,63402,62070,79313,34062,116066,103264,...,129039,161511,173421,194140,114160,79301,50809,29599,107040,8425650
protein of unknown function (DUF4174),2765,48,198,389,80,2384,1202,460395,150,262,...,1,0,0,0,0,0,0,0,0,1697373

In [56]:
meta4_exp_grouped.to_csv("./data/raw_data/3_summary_rpkm_byGeneProuct.xls", sep='\t')

In [32]:
meta4_exp[meta4_exp['product']=="AAA ATPase"]

,genome,locus_tag,product,LakWasMeta1_LOW4_2_rpkm,LakWasMeta2_LOW4_2_rpkm,LakWasMeta3_LOW4_2_rpkm,LakWasMeta4_LOW4_2_rpkm,LakWasMet10_HOW4_2_rpkm,LakWasMeta7_HOW4_2_rpkm,LakWasMeta8_HOW4_2_rpkm,...,LakWasM117_HOW13_2_rpkm,LakWasM118_HOW13_2_rpkm,LakWasM121_LOW14_2_rpkm,LakWasM122_LOW14_2_rpkm,LakWasM123_LOW14_2_rpkm,LakWasM124_LOW14_2_rpkm,LakWasM127_HOW14_2_rpkm,LakWasM128_HOW14_2_rpkm,LakWasM129_HOW14_2_rpkm,LakWasM130_HOW14_2_rpkm
478,Methylotenera mobilis JLW8,Mmol_0480,AAA ATPase,0,1,1,0,2,0,0,...,0,1,1,0,0,2,0,0,0,0
1396,Methylotenera mobilis JLW8,Mmol_1402,AAA ATPase,27,22,30,36,31,52,9,...,0,33,314,12,19,2852,0,54,0,1
4369,Methylovorus glucosetrophus SIP3-4,Msip34_2039,AAA ATPase,1,1,0,1,1,0,0,...,1,0,3,3,2,0,0,1,12,0
5207,Methylovorus glucosetrophus SIP3-4,Msip34_2895,AAA ATPase,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
meta4_exp_grouped.ix["AAA ATPase",:]

LakWasMeta1_LOW4_2_rpkm      28
LakWasMeta2_LOW4_2_rpkm      24
LakWasMeta3_LOW4_2_rpkm      32
LakWasMeta4_LOW4_2_rpkm      37
LakWasMet10_HOW4_2_rpkm      34
LakWasMeta7_HOW4_2_rpkm      52
LakWasMeta8_HOW4_2_rpkm       9
LakWasMeta9_HOW4_2_rpkm      40
LakWasMet13_LOW5_2_rpkm     142
LakWasMet14_LOW5_2_rpkm     435
LakWasMet15_LOW5_2_rpkm     856
LakWasMet16_LOW5_2_rpkm     522
LakWasMet19_HOW5_2_rpkm     229
LakWasMet20_HOW5_2_rpkm     368
LakWasMet21_HOW5_2_rpkm     222
LakWasMet22_HOW5_2_rpkm     231
LakWasMet25_LOW6_2_rpkm     163
LakWasMet26_LOW6_2_rpkm     179
LakWasMet27_LOW6_2_rpkm     429
LakWasMet28_LOW6_2_rpkm     426
LakWasMet31_HOW6_2_rpkm     104
LakWasMet32_HOW6_2_rpkm      43
LakWasMet33_HOW6_2_rpkm      40
LakWasMet34_HOW6_2_rpkm     762
LakWasMet37_LOW7_2_rpkm      38
LakWasMet38_LOW7_2_rpkm     141
LakWasMet39_LOW7_2_rpkm     138
LakWasMet40_LOW7_2_rpkm     243
LakWasMet43_HOW7_2_rpkm      64
LakWasMet44_HOW7_2_rpkm      28
                           ...
LakWasMe82_HOW10_2_rpkm      33
LakWasMe85_LOW11_2_rpkm       8
LakWasMe86_LOW11_2_rpkm       6
LakWasMe91_HOW11_2_rpkm       1
LakWasMe92_HOW11_2_rpkm      90
LakWasMe93_HOW11_2_rpkm       1
LakWasMe94_HOW11_2_rpkm       1
LakWasM100_LOW12_2_rpkm     875
LakWasMe97_LOW12_2_rpkm     108
LakWasMe98_LOW12_2_rpkm       3
LakWasMe99_LOW12_2_rpkm       6
LakWasM104_HOW12_2_rpkm       0
LakWasM105_HOW12_2_rpkm       2
LakWasM106_HOW12_2_rpkm       1
LakWasM109_LOW13_2_rpkm     305
LakWasM110_LOW13_2_rpkm       3
LakWasM111_LOW13_2_rpkm     204
LakWasM112_LOW13_2_rpkm    1996
LakWasM115_HOW13_2_rpkm       8
LakWasM116_HOW13_2_rpkm       3
LakWasM117_HOW13_2_rpkm       1
LakWasM118_HOW13_2_rpkm      34
LakWasM121_LOW14_2_rpkm     318
LakWasM122_LOW14_2_rpkm      15
LakWasM123_LOW14_2_rpkm      21
LakWasM124_LOW14_2_rpkm    2854
LakWasM127_HOW14_2_rpkm       0
LakWasM128_HOW14_2_rpkm      55
LakWasM129_HOW14_2_rpkm      12
LakWasM130_HOW14_2_rpkm       1
Name: AAA ATPase, dtype: int64

In [10]:
test = pd.DataFrame({'name':['a','b','b','c','a','e'],'sample1':[3,0,1,5,0,0], 'sample2':[1,0,0,2,1,2]})
test

  name  sample1  sample2
0    a        3        1
1    b        0        0
2    b        1        0
3    c        5        2
4    a        0        1
5    e        0        2

In [12]:
test_grouped = test.groupby(['name'], axis=0)

In [16]:
test_grouped.sum()

      sample1  sample2
name
a           3        2
b           1        0
c           5        2
e           0        2

In [21]:
test.ix[:,'sample1':]

   sample1  sample2
0        3        1
1        0        0
2        1        0
3        5        2
4        0        1
5        0        2

In [35]:
test_aggr = test_grouped.sum()
test_aggr['total_exp'] = test_aggr.sum(axis=1)

In [36]:
test_aggr

      sample1  sample2  total_exp
name
a           3        2          5
b           1        0          1
c           5        2          7
e           0        2          2

In [40]:
test_aggr_sorted = test_aggr.sort_values('total_exp', ascending=False)
test_aggr_sorted

      sample1  sample2  total_exp
name
c           5        2          7
a           3        2          5
e           0        2          2
b           1        0          1

In [41]:
test_aggr

      sample1  sample2  total_exp
name
a           3        2          5
b           1        0          1
c           5        2          7
e           0        2          2

In [42]:
test_aggr.sort_values('total_exp', ascending=False, inplace=True)

In [43]:
test_aggr

      sample1  sample2  total_exp
name
c           5        2          7
a           3        2          5
e           0        2          2
b           1        0          1